beautifulsoup4
certifi
chardet
flickrapi
google
idna
memento-client
mwoauth
mwparserfromhell
oauthlib
pycountry
pydot
PyJWT
PyMySQL
pyparsing
python-stdnum
requests
requests-oauthlib
requests-toolbelt
six
soupsieve
sseclient
urllib3
irc
psutil
backoff